################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FastHashtableDemo/.vs
/FastHashtableDemo/FastHashtableDemo/bin/Debug/net8.0
/FastHashtableDemo/FastHashtableDemo/obj
/FastHashtableDemo/FastHashtableDemo/obj/Debug/net8.0/ref/FastHashtableDemo.dll
/OuterClassDemo/.vs
/OuterClassDemo/OuterClassDemo/bin/Debug/net8.0
/OuterClassDemo/OuterClassDemo/obj
/EventHelper/.vs/EventHelper
/EventHelper/EventHelper/bin/Debug
/EventHelper/EventHelper/obj
/EventHelper/EventHelper.Tests/bin/Debug/net8.0
/EventHelper/EventHelper.Tests/obj
/CodeGeneratorTestApp/obj/Debug/net8.0
/CodeGeneratorTestApp/obj/Release/net8.0
/CodeGeneratorTestApp/obj
/EventHelper/.vs/ProjectEvaluation
/EventHelper/EventHelper.Tests/bin/Release/net8.0
/EventHelper/obj
/EventTestMauiApp/obj
/ThreadSafeHelperGenerator/obj
/CodeGeneratorTestApp/bin/Debug/net8.0
/EventTestMauiApp/bin/Debug/net9.0-windows10.0.19041.0/win10-x64
/ThreadSafeHelperGenerator/bin/Debug/netstandard2.0
/EventTestMauiApp/bin/Debug
/WinUITestApp/bin/x64/Debug/net8.0-windows10.0.19041.0/win-x64
/WinUITestApp/obj
/LightWeightEventBus/LightWeightEventBus/bin/Debug/net8.0
/LightWeightEventBus/LightWeightEventBus/obj
/EventDrivenApps/ConsoleApp/bin/Debug/net8.0
/EventDrivenApps/ConsoleApp/obj/Debug/net8.0
/EventDrivenApps/ConsoleApp/obj
/EventDrivenMauiTestApp/obj
/EventDrivenMauiTestApp/bin/Debug
